
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.cart.title' } %}

    {% include "Components/checkout/progress-bar.twig" with {'step1': 'is-complete' } %}

    {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
    {% for error in app.session.flashbag.get('eccube.front.request.error') %}
        {% set idx = loop.index0 %}
        <div class="row">
            <div class="col-12">
                <div class="bg-danger p-2 mb-3 text-white text-center">
                    <i class="fas fa-exclamation-triangle"></i>
                    {% if productStr[idx] is defined %}
                        {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                    {% else %}
                        {{ error|trans|nl2br }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% for error in app.session.flashbag.get('eccube.front.cart.error') %}
        {% include "Components/error.twig" with {'message': error} %}
    {% endfor %}
    {% if totalQuantity > 0 %}
        {% if Carts|length > 1 %}
            {% include "Components/error.twig" with {'message': 'front.cart.divide_cart'} %}
        {% endif %}

        <form name="form" id="form_cart" method="post" action="{{ url('cart') }}">
            {% for CartIndex,Cart in Carts %}
                {% set cartKey = Cart.cart_key %}
                {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                    {% include "Components/error.twig" with {'message': error} %}
                {% endfor %}
                <div class="pb-2 border-bottom">
                    <div class="row pt-4">
                        <div class="col-1">
                            {{ 'front.cart.delete'|trans }}
                        </div>
                        <div class="col-8 col-md-6">
                            {{ 'front.cart.product'|trans }}
                        </div>
                        <div class="col-3 col-md-2 text-center">
                            {{ 'common.quantity'|trans }}
                        </div>
                        <div class="d-none d-md-block col-3 text-right">
                            {{ 'common.subtotal'|trans }}
                        </div>
                    </div>
                </div>

                {% for CartItem in Cart.CartItems %}
                    {% set ProductClass = CartItem.ProductClass %}
                    {% set Product = ProductClass.Product %}
                    <div class="py-4 border-bottom">
                        <div class="row">
                            <div class="col-1 cart-row__action align-self-center text-center">
                                <a title="{{ 'common.delete'|trans }}" href="{{ url('cart_handle_item', {'operation': 'remove', 'productClassId': ProductClass.id }) }}" {{ csrf_token_for_anchor() }} class="text-danger" data-method="put" data-message="{{ 'front.cart.delete.confirm'|trans }}">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            <div class="col-8 col-md-6 cart-row__content">
                                <div class="media">
                                    {# Image #}
                                    {% include "Components/product/image.twig" with {'product': Product, 'type': 'link', 'linkClass': 'align-self-center mr-3', 'imgClass': 'product-small'} %}
                                    
                                    <div class="media-body align-self-center">
                                        <div class="cart-item__name">
                                            {# Name #}
                                            {% include "Components/product/name.twig" with {'product': Product} %}
                                        </div>

                                        {# Options #}
                                        {% include "Components/product/options.twig" with {'productClass': ProductClass, class: 'cart-item__options'} %}

                                        {# Price #}
                                        {% include "Components/product/price.twig" with {'product': CartItem, type: 'cart'} %}

                                        <div class="cart-item__sutbtotal">
                                            {{ 'common.subtotal__with_separator'|trans }} {{ CartItem.total_price|price }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col-md-2 cart-row__amount align-self-center">
                                <div class="d-flex align-items-center justify-content-around">
                                    {% if CartItem.quantity > 1 %}
                                        <a title="Giảm 1" href="{{ url('cart_handle_item', {'operation': 'down', 'productClassId': ProductClass.id}) }}" {{ csrf_token_for_anchor() }} class="load-overlay" data-method="put" data-confirm="false">
                                            <i class="fas fa-minus-circle"></i>
                                        </a>
                                    {% else %}
                                        <div class="btn-down-disabled">
                                            <i class="fas fa-minus-circle"></i>
                                        </div>
                                    {% endif %}
                                    <div class="mx-2">{{ CartItem.quantity|number_format }}</div>
                                    <a title="Tăng 1" href="{{ url('cart_handle_item', {'operation': 'up', 'productClassId': ProductClass.id}) }}" {{ csrf_token_for_anchor() }} class="load-overlay" data-method="put" data-confirm="false">
                                        <i class="fas fa-plus-circle"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="d-none d-md-block col-3 text-right align-self-center cart-row__subtotal">
                                <b>{{ CartItem.total_price|price }}</b>
                            </div>
                        </div>  
                    </div>
                {% endfor %}
                        
                <div id="eccube-cart-promotion" class="ec-cart-promotion">
                    {% if BaseInfo.delivery_free_amount and BaseInfo.delivery_free_quantity %}
                        {% if is_delivery_free[cartKey] %}
                            <div class="alert alert-info text-center mb-0 mt-4" role="alert">
                                {{ 'front.cart.delivery_fee_free__now'|trans }}
                            </div>
                        {% else %}
                            <div class="alert alert-info text-center mb-0 mt-4" role="alert">
                                {{ 'front.cart.delivery_fee_free__price_and_quantity'|trans({ '%price%': least[cartKey]|price, '%quantity%': quantity[cartKey]|number_format })|raw }}
                            </div>
                        {% endif %}
                    {% elseif BaseInfo.delivery_free_amount %}
                        {% if is_delivery_free[cartKey] %}
                            <div class="alert alert-info text-center mb-0 mt-4" role="alert">
                                {{ 'front.cart.delivery_fee_free__now'|trans }}
                            </div>
                        {% else %}
                            <div class="alert alert-info text-center mb-0 mt-4" role="alert">
                                {{ 'front.cart.delivery_fee_free__price'|trans({ '%price%': least[cartKey]|price })|raw }}
                            </div>
                        {% endif %}
                    {% elseif BaseInfo.delivery_free_quantity %}
                        {% if is_delivery_free[cartKey] %}
                            <div class="alert alert-info text-center mb-0 mt-4" role="alert">
                                {{ 'front.cart.delivery_fee_free__now'|trans }}
                            </div>
                        {% else %}
                            <div class="alert alert-info text-center mb-0 mt-4" role="alert">
                                {{ 'front.cart.delivery_fee_free__quantity'|trans({ '%quantity%': quantity[cartKey]|number_format })|raw }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div id="eccube-cart-total" class="row d-flex justify-content-end">
                    <div class="col-md-4">
                        <div class="cart-total pt-4 pb-2 d-flex justify-content-between align-items-center">
                            <b>{{ 'common.total__with_separator'|trans }}</b>
                            <span class="text-danger h3 mb-0">{{ Cart.totalPrice|price }}</span>
                        </div>
                        <a class="btn btn-primary btn-block" href="{{ path('cart_buystep', {'cart_key':cartKey}) }}">{{ 'front.cart.checkout'|trans }}</a>

                        {% if loop.last %}
                            <a class="btn btn-secondary btn-block" href="{{ path('homepage') }}">{{ 'front.cart.continue'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </form>
    {% else %}
        {% for CartIndex,Cart in Carts %}
            {% set cartKey = Cart.cart_key %}
            {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                {% include "Components/error.twig" with {'message': error} %}
            {% endfor %}
        {% endfor %}
        {% include "Components/error.twig" with {'message': 'front.cart.no_items'} %}
    {% endif %}
    
{% endblock %}
