{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set is_supported_eccube_version = item.is_supported_eccube_version  %}
<div class="plugin-panel {% if is_supported_eccube_version == 0 %}plugin-panel-not{% endif %}">
    <div class="plugin-logo">
        <a href="{{ item.product_url }}" target="_blank"><img class="img-rounded" src="{{ item.product_image_url }}"></a>
    </div>
    <div class="plugin-content-top">
        <div class="plugin-title">
            <a class="plugin-name" href="{{ item.product_url }}" target="_blank">{{ item.name }}</a>
        </div>
        <div class="plugin-description">
            {{ item.summary }}
        </div>
        <div class="plugin-description">
            {% if item.promotion == 1 %}
                {{ item.description|ellipsis(500) }}
            {% else %}
                {{ item.description|ellipsis(400) }}
            {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="plugin-content-bottom">
        <dl class="plugin-meta dl-horizontal">
            <dt class="plugin-price">{{ 'admin.product.price'|trans }}</dt><dd>{{ item.price|price }}</dd>
            <dt class="plugin-download">{{ 'admin.store.plugin_owners_confirm.844'|trans }}</dt><dd>{{ item.download_number }}</dd>
            <dt class="plugin-version">{{ 'admin.store.plugin_owners_panel.863'|trans }}</dt><dd>{{ item.version }}</dd>
            <dt class="plugin-update">{{ 'admin.common.last_update_date'|trans }}</dt><dd>{{ item.last_update_date|time_ago }}</dd>
            <dt class="plugin-eccubeversion">{{ 'admin.store.plugin.detail.support'|trans }}</dt><dd>{% for version in item.eccube_version %}{{ version }} {%- if loop.last == false%}, {% endif -%}{% endfor %}</dd>
            <dt class="plugin-licence">{{ 'admin.store.plugin.detail.license'|trans }}</dt><dd>{{ item.licence }}</dd>
        </dl>
        {% if is_supported_eccube_version == 0 %}
            <p class="text-danger">{{ 'admin.store.plugin.intro'|trans }} {{ constant('Eccube\\Common\\Constant::VERSION') }} {{ 'admin.store.plugin.unsupport-version'|trans }}</p>
        {% endif %}
        <p class="plugin-developer">
            <strong>{{ 'admin.store.plugin.detail.develop'|trans }}</strong> : {% if item.developer_url is not null %}<a href="{{ item.developer_url }}" target="_blank">{{ item.developer }}</a>{% else %}{{ item.developer }}{% endif %}
        </p>
    </div>
</div>
