<ul class="nav">
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url('mypage') }}">
                <i class="fas fa-user fa-fw"></i>
                <span>{{ 'front.block.login.mypage'|trans }}</span>
            </a>
        </li>
        {% if BaseInfo.option_favorite_product %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('mypage_favorite') }}">
                    <i class="fas fa-heart fa-fw"></i>
                    <span>{{ 'front.block.login.favorite'|trans }}</span>
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url('logout') }}">
                <i class="fas fa-lock fa-fw"></i>
                <span>{{ 'front.block.login.logout'|trans }}</span>
            </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url('entry') }}">
                <i class="fas fa-user fa-fw"></i>
                <span>{{ 'front.block.login.customer_registration'|trans }}</span>
            </a>
        </li>
        {% if BaseInfo.option_favorite_product %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('mypage_favorite') }}">
                    <i class="fas fa-heart fa-fw"></i>
                    <span>{{ 'front.block.login.favorite'|trans }}</span>
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url('mypage_login') }}">
                <i class="fas fa-lock fa-fw"></i>
                <span>{{ 'front.block.login.login'|trans }}</span>
            </a>
        </li>
    {% endif %}
</ul>
