
{% form_theme form 'Form/form_div_layout.twig' %}
<form method="get" class="form-search-head form-inline bg-white p-3 p-md-0 justify-content-center" action="{{ path('product_list') }}">
  <div class="input-group w-100">
    {{ form_widget(form.category_id, {'id': null, 'attr': {'aria-label': 'Danh mục'} }) }}
    {{ form_label(form.name, '', { 'label_attr': { 'class': 'd-none' }}) }}
    {{ form_widget(form.name, {'id': null, 'attr': {'class': 'form-control rounded-right', 'placeholder' : 'common.search_keyword', 'aria-label': 'Nhập từ khóa' }} ) }}
    <button class="btn btn-primary rounded-right" aria-label="{{ 'admin.common.search'|trans }}" type="submit">
        <i class="fas fa-search"></i>
    </button>
    </div>
</form>
